@model UserViewModel

<div class="text-center">
    <div>
        <p hidden>@Model.Id</p>
        <p>@Model.Name @Model.Surname</p>
        <p>@Model.Email</p>
        <a href="/Home/UserProducts">Смотреть покупки</a>
    </div>
</div>
