@model IEnumerable<ProductViewModel>

<div>
    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Цена</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Title</td>
                    <td>@product.Cost</td>
                    <td>@product.Description</td>
                </tr>
            }
        </tbody>
    </table>
</div>